

.lesson-button, .reading-button {
    position: fixed;
    z-index: 1; /* Ensure they appear on top */
  }
  
  .lesson-container, .reading-container {
    overflow: auto;
    max-height: 350px; /* Adjust height as needed */
  }