.tarot-card {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0.3s ease;
  width: 130px; /* Adjust width as needed */
  margin-left: -50px; /* Adjust to create the overlap */
  cursor: pointer;
}

.tarot-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.tarot-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.deck-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-left: 50px;
}

.deck-page .title {
  text-align: center;
  margin-bottom: 20px;
}