.tarot-card {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0.3s ease;
  width: 130px;
  margin-left: -50px;
  cursor: pointer;
}

.tarot-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: inherit;
}

.tarot-card:hover {
  transform: translateY(-10px);
  z-index: 10;
}

.tarot-card.selected {
  transform: translateY(-20px);
  z-index: 20;
  opacity: 0.7;
}

.tarot-card.reversed {
  transform: rotate(180deg) translateY(3%);
}

.tarot-card.reversed:hover {
  transform: rotate(180deg) translateY(20px);
  z-index: 10;
}

.tarot-card.reversed.selected {
  transform: rotate(180deg) translateY(27px);
  z-index: 20;
  opacity: 0.7;
}

.deck-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
  margin-bottom: 150px;
}


.reading-title, .deck-title{
  padding-top: 100px;
}